@font-face { font-family: cmmi10; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmmi10.ttf'); font-display: swap; }
@font-face { font-family: cmmi12; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmmi12.ttf'); font-display: swap; }
@font-face { font-family: cmmi5; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmmi5.ttf'); font-display: swap; }
@font-face { font-family: cmmi7; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmmi7.ttf'); font-display: swap; }
@font-face { font-family: cmr10; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmr10.ttf'); font-display: swap; }
@font-face { font-family: cmr12; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmr12.ttf'); font-display: swap; }
@font-face { font-family: cmr5; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmr5.ttf'); font-display: swap; }
@font-face { font-family: cmr7; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmr7.ttf'); font-display: swap; }
@font-face { font-family: cmsy10; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmsy10.ttf'); font-display: swap; }
@font-face { font-family: cmsy5; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmsy5.ttf'); font-display: swap; }
@font-face { font-family: cmsy7; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/cmsy7.ttf'); font-display: swap; }
@font-face { font-family: msbm10; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/msbm10.ttf'); font-display: swap; }
@font-face { font-family: msbm7; src: url('../../../node_modules/node-tikzjax/css/bakoma/ttf/msbm7.ttf'); font-display: swap; }
